body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  font-family: courier;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.markdown {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: courier;
  font-size: 1rem;
  line-height: 1.6rem;
}

.markdown__cover {
  z-index: -1;
}

.markdown__cover,
.markdown__textarea,
.markdown__tree {
  height: calc(100vh - 2rem);
}

.markdown__cover,
.markdown__textarea {
  position: absolute;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: none;
  word-wrap: break-word;
  padding-top: 1rem;
}

@media all and (min-width: 690px) {
  .markdown__cover,
  .markdown__textarea {
    width: 690px;
    left: 50%;
    margin-left: -345px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .markdown__cover {
    box-shadow: 0 0 10px 10px rgba(0,0,0,.05);
  }
}

.markdown__textarea {
  opacity: .3;
  outline: none;
  resize: none;
}

code {
  color: tomato;
}

.code_block {
  float: left;
  width: 100%;
  background-color: #eee;
  margin-top: -.2rem;
  padding: .2rem 0;
  margin-bottom: -.2rem;
}

.markdown__cover,
.markdown__textarea,
code,
.code_block {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown__command_line {
  position: absolute;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  left: 0;
  bottom: 1rem;
  height: 2rem;
  width: 100%;
  z-index: 2;
  padding: 0 1rem;
  border: none;
  background-color: #f9f9f9;
  box-shadow: 0 0 12px 2px rgba(0,0,0,.1);
}

.markdown__command_line:focus {
  outline: none;
}

.mdnot_tree {
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0 0 12px 2px rgba(0,0,0,.1);
  opacity: 0;
  transition: .4s;
  transition-property: opacity opacity;
  transform: translateX(20rem);
}

.mdnot_tree--open {
  opacity: 1;
  transform: translateX(0);
}

.mdnot_tree__list {
  list-style: none;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

.mdnot_tree__link,
.mdnot_tree__link:visited {
  display: block;
  width: 100%;
  padding: .5rem 0;
  text-decoration: none;
  color: #000;
}

.mdnot_tree__link:focus p,
.mdnot_tree__link:hover p,
.mdnot_tree__link:active p {
  background-color: rgba(0,0,0,.1);
  color: inherit;
}

.mdnot_tree__link p {
  margin: 0;
}

.markdown__help {
  position: absolute;
  width: 50%;
  height: 60%;
  left: 25%;
  top: 20%;
  background-color: rgba(0,0,0,.1);
  padding: 2rem;
  opacity: 0;
  word-wrap: break-word;
  transform: translateY(100vh);
  transition: .6s;
  transition-property: opacity transform;
}

.markdown__help--open {
  opacity: 1;
  transform: translateY(0);
}

i {
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 800;
  padding: 0;
  margin: 0;
}