body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  font-family: courier;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* -------------------------------------------
 * ---- markdown
 * -----------------------------------------*/

.markdown {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  font-family: courier;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: rgb(235,235,235);
}

.markdown__cover {
  z-index: 1;
  overflow: auto;
}

.markdown__cover--view {
  z-index: 3;
}

.markdown__cover,
.markdown__textarea,
.markdown__tree {
  height: calc(100vh - 2rem);
}

.markdown__cover,
.markdown__textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  word-wrap: break-word;
  padding-top: 1.6rem;
}

@media all and (min-width: 690px) {
  .markdown__cover,
  .markdown__textarea {
    width: 690px;
    left: 50%;
    margin-left: -345px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.markdown__textarea {
  z-index: 2;
  opacity: .3;
  outline: none;
  resize: none;
}

.markdown__textarea--disabled {
  display: none;
}

code {
  color: tomato;
}

.markdown__cover,
.markdown__textarea,
code,
.code_block {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown__command_line {
  position: absolute;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
  z-index: 4;
  padding: 0 1rem;
  border: none;
  background-color: rgb(230,230,230);
}

.markdown__command_line:focus {
  outline: none;
}

/* -------------------------------------------
 * ---- code_block
 * -----------------------------------------*/

.code_block {
  float: left;
  width: 100%;
  background-color: #eee;
  margin-top: -.2rem;
  padding: .2rem 0;
  margin-bottom: -.2rem;
}

/* -------------------------------------------
 * ---- mdnot_tree
 * -----------------------------------------*/

.mdnot_tree {
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  z-index: 1;
  background-color: rgb(225,225,225);
  opacity: 0;
  transition: .4s;
  transition-property: opacity opacity;
  transform: translateX(20rem);
}

.mdnot_tree--open {
  opacity: 1;
  transform: translateX(0);
}

.mdnot_tree__list {
  list-style: none;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

.mdnot_tree__link,
.mdnot_tree__link:visited {
  display: block;
  width: 100%;
  padding: .5rem 0;
  text-decoration: none;
  color: #000;
}

.mdnot_tree__link:focus p,
.mdnot_tree__link:hover p,
.mdnot_tree__link:active p {
  background-color: rgba(0,0,0,.1);
  color: inherit;
}

.mdnot_tree__link p {
  margin: 0;
}

.markdown__help {
  z-index: 10;
  position: absolute;
  width: 50%;
  height: 60%;
  left: 25%;
  top: 20%;
  background-color: rgba(0,0,0,.1);
  padding: 2rem;
  opacity: 0;
  word-wrap: break-word;
  transform: translateY(100vh);
  transition: .6s;
  transition-property: opacity transform;
}

.help {
  list-style: none;
  padding: 0;
  margin: 0;
}

.help__item {
  font-size: 1.2em;
  line-height: 2rem;
}

.markdown__help--open {
  opacity: 1;
  transform: translateY(0);
}

i {
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.alert {
  position: absolute;
  left: calc(50vw - 5rem);
  top: calc(50vh - 2.5rem);
  width: 10rem;
  min-height: 5rem;
  z-index: 20;
  padding: .5rem;
  background-color: rgba(0,0,0,.1);
  animation: easeup .4s 0s linear 1;
  transform: translateY(0);
  opacity: 1;
  -webkit-animation: easeup .4s 0s linear 1;
}

/* -------------------------------------------
 * ---- alert
 * -----------------------------------------*/

.alert__message {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: .5rem;
}

.alert__button {
  font-family: inherit;
  font-size: 1rem;
  padding: .4rem;
  margin: 0 auto;
  display: block;
  border: none;
  background: rgba(0,0,0,.1);
}

.alert__button:focus {
  outline: none;
}

@keyframes easeup {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes easeup {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* -------------------------------------------
 * ---- control
 * -----------------------------------------*/

.control {
  height: 3.5rem;
  padding: 1rem;
  background: rgba(0,0,0,.1);
  overflow: hidden;
}

.control__item {
  padding: 0.3rem 0.6rem;
  float: left;
}

.control__item[data-state="unsaved"] {
  background: #fff;
  padding: 0.3rem 0.6rem;
}

.control__item[data-state="unsaved"] .control__link {
  text-decoration: none;
}

.control__item[data-state="viewmode"] {
  background: #fff;
  padding: 0.3rem 0.6rem;
}

.control__item[data-state="viewmode"] .control__link {
  text-decoration: none;
}

.control__item:last-child {
  float: right;
}

.control__link {
  color: #000;
}


/* -------------------------------------------
 * ---- description
 * -----------------------------------------*/

.description {
  margin: 1rem auto;
  max-width: 520px;
}