body {
  padding: 0;
  margin: 0;
}

.markdown {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: courier;
  font-size: 1rem;
  line-height: 1.6rem;
}

.markdown__cover {
  z-index: -1;
}

.markdown__cover,
.markdown__textarea {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: none;
}

.markdown__textarea {
  opacity: .4;
  outline: none;
}

code {
  color: tomato;
}

.code_block {
  float: left;
  width: 100%;
  background-color: #eee;
  margin-top: -.2rem;
  padding: .2rem 0;
  margin-bottom: -.2rem;
}

.markdown__cover,
.markdown__textarea,
code,
.code_block {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown__command_line {
  position: absolute;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  left: 0;
  bottom: 0;
  height: 2rem;
  width: 100%;
  z-index: 2;
  padding: 0 1rem;
}

.markdown__command_line:focus {
  outline: none;
}